.about .static {
	width: 160px !important;
	margin-right: 0 !important;
}
.building .static, .reduction .static {
	width: 100% !important;
}
input.small {
	width: 8rem !important;
}

div.only.print {
	display: none !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

div.desktop-padding-left {
	padding-left: 13% !important;
	padding-right: 1em !important;
}
div.desktop-padding-right {
	padding-right: 13% !important;
	padding-left: 1em !important;
}
