.design-label {
	line-height:1.7em !important;
}
.building .static, .reduction .static {
	width: 100% !important;
}
input.small {
	width: 8rem !important;
}

.sup {
    vertical-align: super;
    font-size: smaller;
}

.tooltip {
    position: relative;
    display: inline;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 520px;
    background-color: #D9D9D9;
    text-align: left;
    text-color: #54c9f7;
    line-height:1.7em !important;

    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 1rem 0;
    padding: 1em;
    border-radius: 2;
    border: 1px solid rgba(34,36,38,.15);

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    bottom: 10%;
    left: 90%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

div.desktop-padding-left {
	padding-left: 13% !important;
	padding-right: 0em !important;
	margin-right: 0em !important;
}
div.desktop-padding-right {
	padding-right: 13% !important;
//	padding-left: 1em !important;
}

div.entry {
//	height: 750px;
//	overflow-y: scroll;
/	padding-right:1em;
}

@media all {
	.page-break	{ display: none; }
}
